.calculator-container {
  margin-top: 60px;
  width: 100%;
  text-align: center;
}

table {
  width: 400px;
  margin: auto;
}

#display {
  color: wheat;
  background-color: grey;
  text-align: end;
}

.background-color-grey {
  background-color: rgb(202, 193, 193);
}

.background-color-orange {
  background-color: rgb(221, 179, 101);
}

td {
  border: solid grey 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}